# Working with Dates and Time Series Data

In [82]:
import pandas as pd

In [83]:
df=pd.read_csv("date.csv")

In [84]:
df.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [85]:
df.loc[0,"Date"]

'2020-03-13 08-PM'

Formating Data Time According To data

In [86]:
df["Date"]=pd.to_datetime(df["Date"],format="%Y-%m-%d %I-%p",errors="raise")

In [87]:
df["Date"]

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

Method for getting Day of Date

In [88]:
df.loc[0,"Date"].day_name()

'Friday'

In [90]:
df["Day_of_the_week"]=df["Date"].dt.day_name()
df["Day_of_the_week"]

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Day_of_the_week, Length: 23674, dtype: object

In [91]:
df["Date"].min()

Timestamp('2017-07-01 11:00:00')

In [92]:
df["Date"].max()

Timestamp('2020-03-13 20:00:00')

In [93]:
df["Date"].max()-df["Date"].min()

Timedelta('986 days 09:00:00')

Here If we Try to Filter through day its not possiable hence in Upcomeing we convert date column as ''Index''

In [94]:
filt=(df["Date"]>="2019") & (df["Date"]<="2020")

In [95]:
df.loc[filt]

,Date,Symbol,Open,High,Low,Close,Volume,Day_of_the_week
1748,2020-01-01 00:00:00,ETHUSD,128.54,128.54,128.12,128.34,245119.91,Wednesday
1749,2019-12-31 23:00:00,ETHUSD,128.33,128.69,128.14,128.54,440678.91,Tuesday
1750,2019-12-31 22:00:00,ETHUSD,128.38,128.69,127.95,128.33,554646.02,Tuesday
1751,2019-12-31 21:00:00,ETHUSD,127.86,128.43,127.72,128.38,350155.69,Tuesday
1752,2019-12-31 20:00:00,ETHUSD,127.84,128.34,127.71,127.86,428183.38,Tuesday
...,...,...,...,...,...,...,...,...
10504,2019-01-01 04:00:00,ETHUSD,130.75,133.96,130.74,131.96,2791135.37,Tuesday
10505,2019-01-01 03:00:00,ETHUSD,130.06,130.79,130.06,130.75,503732.63,Tuesday
10506,2019-01-01 02:00:00,ETHUSD,130.79,130.88,129.55,130.06,838183.43,Tuesday
10507,2019-01-01 01:00:00,ETHUSD,131.62,131.62,130.77,130.79,434917.99,Tuesday
10508,2019-01-01 00:00:00,ETHUSD,130.53,131.91,130.48,131.62,1067136.21,Tuesday

Here We covert Date column as Index so that we can work with date conviently

In [96]:
df.set_index("Date",inplace=True)

In [97]:
df.loc["2019-01":"2020-01"]

,Symbol,Open,High,Low,Close,Volume,Day_of_the_week
Date,,,,,,,
2020-01-31 23:00:00,ETHUSD,181.73,181.73,179.00,179.74,438575.26,Friday
2020-01-31 22:00:00,ETHUSD,180.66,182.24,180.03,181.73,754254.39,Friday
2020-01-31 21:00:00,ETHUSD,180.31,181.04,179.98,180.66,657922.36,Friday
2020-01-31 20:00:00,ETHUSD,179.19,180.51,179.13,180.31,979846.20,Friday
2020-01-31 19:00:00,ETHUSD,179.10,179.57,178.71,179.19,353169.87,Friday
...,...,...,...,...,...,...,...
2019-01-01 04:00:00,ETHUSD,130.75,133.96,130.74,131.96,2791135.37,Tuesday
2019-01-01 03:00:00,ETHUSD,130.06,130.79,130.06,130.75,503732.63,Tuesday
2019-01-01 02:00:00,ETHUSD,130.79,130.88,129.55,130.06,838183.43,Tuesday
2019-01-01 01:00:00,ETHUSD,131.62,131.62,130.77,130.79,434917.99,Tuesday
2019-01-01 00:00:00,ETHUSD,130.53,131.91,130.48,131.62,1067136.21,Tuesday

In [98]:
df.loc["2019-01":"2020-01"].mean()

Open         178.737622
High         179.740506
Low          177.664423
Close        178.742800
Volume    906869.293191
dtype: float64

In [99]:
df.loc["2019-08-22"]

,Symbol,Open,High,Low,Close,Volume,Day_of_the_week
Date,,,,,,,
2019-08-22 23:00:00,ETHUSD,193.59,194.10,190.27,190.41,474399.71,Thursday
2019-08-22 22:00:00,ETHUSD,192.19,194.82,192.19,193.59,444157.12,Thursday
2019-08-22 21:00:00,ETHUSD,192.30,192.53,190.82,192.19,405119.09,Thursday
2019-08-22 20:00:00,ETHUSD,191.85,193.99,191.81,192.30,553646.78,Thursday
2019-08-22 19:00:00,ETHUSD,193.89,194.16,191.65,191.85,858987.61,Thursday
2019-08-22 18:00:00,ETHUSD,193.81,195.11,193.65,193.89,796150.46,Thursday
2019-08-22 17:00:00,ETHUSD,192.91,194.99,192.59,193.81,951264.60,Thursday
2019-08-22 16:00:00,ETHUSD,191.07,192.93,190.49,192.91,834923.07,Thursday
2019-08-22 15:00:00,ETHUSD,189.50,193.31,189.45,191.07,1513397.66,Thursday
2019-08-22 14:00:00,ETHUSD,188.89,189.73,187.78,189.50,403164.62,Thursday
2019-08-22 13:00:00,ETHUSD,188.05,189.64,188.05,188.89,454017.80,Thursday
2019-08-22 12:00:00,ETHUSD,186.08,188.84,185.59,188.05,761122.20,Thursday
2019-08-22 11:00:00,ETHUSD,186.50,186.50,185.14,186.08,463945.63,Thursday
2019-08-22 10:00:00,ETHUSD,186.40,188.63,186.40,186.50,461982.34,Thursday
2019-08-22 09:00:00,ETHUSD,185.80,186.82,185.43,186.40,240904.37,Thursday
2019-08-22 08:00:00,ETHUSD,185.13,186.20,184.24,185.80,257695.11,Thursday
2019-08-22 07:00:00,ETHUSD,185.68,186.10,184.78,185.13,181023.53,Thursday
2019-08-22 06:00:00,ETHUSD,185.71,186.62,184.38,185.68,264989.64,Thursday
2019-08-22 05:00:00,ETHUSD,185.14,186.53,184.99,185.71,138038.22,Thursday
2019-08-22 04:00:00,ETHUSD,184.27,185.32,183.97,185.14,284097.54,Thursday
2019-08-22 03:00:00,ETHUSD,184.54,185.13,183.79,184.27,328078.48,Thursday
2019-08-22 02:00:00,ETHUSD,183.45,185.32,182.53,184.54,754769.73,Thursday
2019-08-22 01:00:00,ETHUSD,187.04,187.05,182.80,183.45,1392987.06,Thursday
2019-08-22 00:00:00,ETHUSD,187.37,190.10,186.37,187.04,1357741.50,Thursday

In [100]:
df.loc["2019-08-22"]["High"].max()

195.11

Using Resample we can convert date as per our request(eg: as Day,week,hour,month etc) as Fumction

In [101]:
High_of_day=df["High"].resample("D").max()
High_of_day

Date
2017-07-01    279.99
2017-07-02    293.73
2017-07-03    285.00
2017-07-04    282.83
2017-07-05    274.97
               ...
2020-03-09    208.65
2020-03-10    206.28
2020-03-11    202.98
2020-03-12    195.64
2020-03-13    148.00
Freq: D, Name: High, Length: 987, dtype: float64

In [102]:
High_of_day.loc["2019-08-22"]

195.11

In [103]:
mean_of_col=df.resample("W").mean()
mean_of_col

                  Open        High         Low       Close        Volume
Date
2017-07-02  268.066486  271.124595  264.819730  268.202162  2.185035e+06
2017-07-09  261.337024  262.872917  259.186190  261.062083  1.337349e+06
2017-07-16  196.193214  199.204405  192.722321  195.698393  2.986756e+06
2017-07-23  212.351429  215.779286  209.126310  212.783750  4.298593e+06
2017-07-30  203.496190  205.110357  201.714048  203.309524  1.581729e+06
...                ...         ...         ...         ...           ...
2020-02-16  255.021667  257.255238  252.679762  255.198452  2.329087e+06
2020-02-23  265.220833  267.263690  262.948512  265.321905  1.826094e+06
2020-03-01  236.720536  238.697500  234.208750  236.373988  2.198762e+06
2020-03-08  229.923571  231.284583  228.373810  229.817619  1.628910e+06
2020-03-15  176.937521  179.979487  172.936239  176.332821  4.259828e+06

[142 rows x 5 columns]

In [104]:
df.resample("W").agg({"Close":"min","High":"max","Low":"min","Volume":"sum"})

             Close    High     Low        Volume
Date
2017-07-02  256.81  293.73  253.23  8.084631e+07
2017-07-09  233.45  285.00  231.25  2.246746e+08
2017-07-16  134.32  240.33  130.26  5.017750e+08
2017-07-23  159.53  249.40  153.25  7.221637e+08
2017-07-30  180.00  229.99  178.03  2.657305e+08
...            ...     ...     ...           ...
2020-02-16  218.32  290.00  216.31  3.912867e+08
2020-02-23  245.78  287.13  242.36  3.067838e+08
2020-03-01  212.50  278.13  209.26  3.693920e+08
2020-03-08  199.46  253.01  196.00  2.736569e+08
2020-03-15   98.88  208.65   90.00  4.983998e+08

[142 rows x 4 columns]

In [105]:
df.reset_index()

,Date,Symbol,Open,High,Low,Close,Volume,Day_of_the_week
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday